<strong>Olá, {{ student }}</strong>
<p>Seu plano foi atualizado com sucesso.</p>
<p>Confira abaixo o seu plano atual:</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br/>
  <strong>Data de inicio: </strong> {{ start }} <br/>
  <strong>Data de termino: </strong> {{ end }} <br/>
  <strong>Valor mensal: </strong> {{ price }} <br/>
  <strong>Valor Total: </strong> {{ total }} <br/>
  <br />
  <small>Qualquer dúvida estamos aqui.</small>
</p>
