<strong>Olá, {{ student }}</strong>
<p>Seja bem vindo a GymPoint, estamos muito felizes de você fazer
  parte da nossa familia.</p>
<p>Confira abaixo o seu plano:</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br/>
  <strong>Data de inicio: </strong> {{ start }} <br/>
  <strong>Data de termino: </strong> {{ end }} <br/>
  <strong>Valor mensal: </strong> {{ price }} <br/>
  <strong>Valor Total: </strong> {{ total }} <br/>
  <br />
  <small>Qualquer dúvida estamos aqui.</small>
</p>
